version: "1.0.0"
services:
  web:
    container_name: docker-ko-dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
      # 호스트에 node_modules가 없을 경우 이미지에서 설치된 종속성을
      # 유지하기 위해 이름 있는 볼륨을 사용합니다.
      - node_modules:/app/node_modules
    environment:
      - NODE_ENV=development

volumes:
  node_modules:
    name: docker-ko-node_modules